/* Google Fonts에서 Nanum Gothic 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare/nanumsquare.css');

/* 전체 페이지에 대한 기본 스타일 설정 */
body {
    font-family: 'NanumSquare', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    border-bottom: 2px solid rgb(200,200,200);
    position: relative;
    z-index: 100;
}
.footer-container {
    display: flex;
    align-items: center;
    height: 220px;
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
}
footer {
    background-color: #ededed;
    border-top: 2px solid rgb(171, 171, 171);
}
.logoimgfoot {
    height: 25px;
}

.logo img {
    height: 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
}

#topMenu {
    display: flex;
    position: relative;
    list-style: none;
}

#topMenu > li {
    position: relative;
    margin-right: 100px;
}

#topMenu > li:last-child {
    margin-right: 0;
}

#topMenu > li > a {
    display: block;
    color: #000;
    font-weight: 600;
    padding: 20px 15px;
}

#topMenu > li > a:hover {
    color: #000;
}

/* 하위 메뉴 스타일 */
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 10px 0;
    min-width: 160px;
    border-radius: 4px;
    text-align: left;
}

.sub-menu.leftbox {
    border-left: 5px solid #7389FF;
    border-bottom-right-radius: 10px;
}

.sub-menu.rightbox {
    right: 0;
    left: auto;
    border-right: 5px solid #7389FF;
    border-bottom-left-radius: 10px;
    text-align: right;
}

#topMenu > li:hover .sub-menu {
    display: block;
}

.sub-menu > li {
    list-style: none;
    padding: 10px 30px;
}

.sub-menu > li > a {
    font-size: 14px;
    color: #000;
    display: block;
}

.loginButton {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 100px;
    border: 1px solid rgb(200, 200, 200);
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
}

.loginButton:hover {
    background-color: rgb(200,200,200);
}

#slide {
    background-color: skyblue;
    height: 400px;
}
#menuTogle {
    display: none;
}
.logtext {
    text-align: center;
    margin-top: 80px;
}

#log-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#log-input input {
    display: block;
    margin-bottom: 30px; /* 입력 필드 사이의 간격 */
    width: 450px; /* 입력 필드의 너비 조절 */
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(220,220,220);
    padding-left: 15px;
}
#log-input input:hover {
    border: 2px solid rgb(200,200,200);
}
#log-input input:focus {
    border: 2px solid #007BFF; /* 포커스 상태일 때 경계선 색상을 파란색으로 설정 */
}
.logInfo {
    position: block;
    margin-bottom: 13px;
    font-size: 15px;
}
.checkbox-group {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: -45px;
}

.logcheckbox {
    display: flex;
    align-items: center;
    margin-right: 50px; /* 오른쪽 체크박스와의 간격 */
}

.logcheckbox:last-child {
    margin-right: 0; /* 마지막 체크박스의 경우 오른쪽 간격을 제거 */
}

.logcheckbox input[type="checkbox"] {
    transform: scale(1.5); /* 체크박스 크기를 150%로 조정 */
    margin-right: 9px; /* 체크박스와 라벨 사이의 간격 */
}

/* 기존 스타일 유지 */


.button-group {
    text-align: center;
    margin-top: 50px; /* 버튼과 이전 요소 사이의 간격 */
}

#loginBtn, #googleLoginBtn {
    width: 450px; /* 버튼의 너비를 입력 필드와 동일하게 조절 */
    height: 60px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    display: block; /* 버튼을 블록 요소로 설정, 이전의 inline-block 대신 */
    margin: 10px auto; /* 위 아래 10px의 마진으로 중앙 정렬, 사이 간격 조절 */
    font-weight: bold;
    font-size: 15px;
}

#loginBtn {
    background-color: #7389FF; /* 로그인 버튼 배경 색 */
    color: white; /* 로그인 버튼 글자 색 */
}

#googleLoginBtn {
    background-color: #ffffff;
    border-top: 2px solid red;
    border-left: 2px solid orange;
    border-right: 2px solid blue;
    border-bottom: 2px solid green;
}
#loginBtn:hover {
    background-color: #3e5bff
}
#googleLoginBtn:hover {
    background-color: rgb(230,230,230);
}
#underbar {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    height: 100%;
}

.uncont {
    display: flex;
    justify-content: center; /* 내부 요소들을 중앙 정렬 */
    align-items: center;
    gap: 20px; /* 내부 요소들 사이의 간격 설정 */
}


.under {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

/* #last의 마진 오른쪽을 0으로 설정하는 대신, .under-container를 사용하여 간격 조정 */
/* 모바일 메뉴 스타일 */
.mobile-menu {
    display: none; /* 기본적으로는 숨김 처리 */
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    width: 60%; /* 너비는 화면의 60% */
    height: 100vh; /* 높이는 전체 브라우저 창의 높이 */
    background-color: white; /* 배경색은 하얀색 */
    z-index: 100; /* 다른 요소들 위에 표시 */
    padding-top: 20px; /* 내부 내용과 상단의 간격 */
}

.mobile-menu ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0;
    margin: 0;
}

.mobile-menu ul li a {
    display: block; /* 클릭 영역 확장 */
    padding: 10px 20px; /* 여백 추가 */
    border-bottom: 1px solid #ccc; /* 아래쪽 경계선 추가 */
    color: black; /* 텍스트 색상 */
}

.mobile-menu ul li:last-child a {
    border-bottom: none; /* 마지막 항목의 하단 경계선 제거 */
}

.mobile-menu .loginButton {
    display: block; /* 모바일 메뉴 내 로그인 버튼 표시 */
    margin: 20px; /* 상하 여백 추가 */
}
.hidden {
    display: none;
}
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: calc(100vh - 85px); 
    margin-left: 50px; 
    text-align: left;
    font-size: 50px;
    font-weight: bold;
}
#box {
    position: relative;
    display: flex;
    overflow: hidden; /* 필요에 따라 조정 */
}


#getstart {
    display: flex;
    flex-direction: column; /* 자식 요소를 수직 방향으로 정렬 */
    justify-content: center; /* 수직 방향으로 가운데 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    position: absolute; /* 페이지 내에서 절대 위치 */
    top: 85px;
    right: 0; 
    width: 50%; 
    height: calc(100% - 85px); 
    background-color: #ffe3f9;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); 
    z-index: 1;
    font-size: 18px;
    color: rgb(97, 97, 97);
    font-weight: bold;
}
.hello {
    margin-left: 20%;
}
#start {
    margin-left: 20%;
}
#stbt {
    border: 0;
    height: 40px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(255,90,255);
    border-radius: 100px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.chanint {
    color: rgb(255, 90, 255);
    font-weight: 900;
}
.comsoon {
    margin-top: 25px;
    color: rgb(90, 90, 90);
    font-size: 25px; /*2.5vh*/
}
#txa {
    display: inline; 
}
#cursor {
    display: inline;
    width: 10px;
    margin-left: 5px;
    vertical-align: middle; /* 커서가 텍스트 중앙에 위치하도록 조정 */
    animation: blink 0.5s step-end infinite; /* 커서 깜빡임 효과 */
}
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}
#info1 {
    width: 100%;
    height: 80vh;
}
.footcont {
    display: flex;
    flex-direction: column; /* 방향을 수직으로 설정 */
    height: auto; /* 높이 자동 조정 */
    margin-left: 100px;
}

#footmenu {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    list-style: none;
    padding: 0;
    margin-right: 50px;
    text-align: left;
}

.munitmail {
    width: 100%;
    margin-top: 10px; /* 상단 여백 추가 */
}
.forinfo {
    width: 100%;
    margin-top: 2px;
}
.logoplace {
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#footmenu > li {
    position: relative;
}

#footmenu > li:last-child {
    margin-right: 0;
}

#footmenu > li > a {
    display: block;
    color: #000;
    font-weight: 600;
    margin-right: 80px;
}

#footmenu > li > a:hover {
    color: #000;
}

/*태블릿 환경*/
@media screen and (max-width: 1199px) {
    .header-container {
        flex-direction: column;
        padding: 10px;
    }
    header {
        height: 80px;
    }

    .logo img {
        margin-top: 7px;
        height: 40px;
    }

    nav, #topMenu {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    #topMenu > li {
        margin: 10px 0;
    }

    .loginButton {
        margin-top: 10px;
        display: none;
    }
    #menuTogle {
        display: block;
        position: absolute;
        margin-top: 10px;
        right: 20px;
        cursor: pointer;
    }
    .tog {
        height: 35px;
    }
}
/* 모바일 화면에서의 스타일 변경 */
@media screen and (max-width: 767px) {
    .header-container {
        flex-direction: column;
        padding: 10px;
    }
    header {
        height: 70px;
    }

    .logo img {
        margin-top: 9px;
        height: 30px;
    }

    nav, #topMenu {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    #topMenu > li {
        margin: 10px 0;
    }

    .loginButton {
        margin-top: 10px;
        display: none;
    }
    #menuTogle {
        display: block;
        position: absolute;
        margin-top: 8px;
        right: 20px;
        cursor: pointer;
    }
    .tog {
        height: 32px;
    }
    .comsoon {
        display: none;
    }
    .footer-container {
        flex-direction: column; /* 컨테이너의 방향을 수직으로 변경 */
        align-items: center; /* 요소들을 중앙 정렬 */
    }

    .logoplace {
        width: 100%; /* 로고를 컨테이너 너비에 맞춤 */
        justify-content: center; /* 로고를 중앙 정렬 */
        height: 85px;
    }

    #footmenu {
        flex-direction: row; /* 내비게이션 메뉴를 수평 방향으로 설정 */
        justify-content: center; 
        margin-top: 10px; /* 로고와의 간격 설정 */
        margin-right: 0; /* 오른쪽 마진 제거 */
        margin-left: 0;
    }

    #footmenu > li {
        margin-right: 20px; /* 버튼 간의 간격 조절 */
    }

    #footmenu > li:last-child {
        margin-right: 0; /* 마지막 항목의 오른쪽 마진 제거 */
    }
    .munitmail {
        text-align: center;
    }
    .forinfo {
        text-align: center;
    }
    .footcont {
        margin-left: 0;
    }
    #footmenu > li > a {
        margin-right: 40px;
    }
    #footmenu > li > a:last-child {
        margin-right: 0;
    }
    #getstart {
        clip-path: triangle(100% 0, 100% 100%, 0 100%); 
    }
}
}

